* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-color: #E1FF8F;
  // background-image: url(./images/back/right_corner.svg);
  // background-repeat: no-repeat;
  // background-position: 854px;
  // background-size: cover;
  // position: relative;

  // &__stars-right {
  //   width: 1074px;
  //   height: 1130.457px;
  //   background-image: url(./images/back/right_corner.svg);
  //   background-repeat: no-repeat;
  //   background-position: right;
  //   background-size: cover;
  //   position: absolute;
  //   z-index: 2;
  // }

  &__content {
    max-width: 769px;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    padding-top: 196px;
  }

  &__title {
    color: #202027;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__description-wrapper {
    margin-bottom: 48px;
  }

  &__description {
    color: #202027;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    &_link {
      font-weight: 600;
    }
  }

  &__button {
    display: block;
    padding: 16px 28px;
    width: 247px;
    height: 66px;
    border-radius: 60px;
    border: 1px solid #202027;
    background: #202027;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.688%;
    transition: all 0.5s linear;
  }

  &__button:hover {
    background: #fff;
    color: #202027;
    transition: all 0.2s linear;
  }

  &__animated-strip {
    background: #BCEC30;
    color: #202027;
    font-size: 30px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
  }
}

.about-games {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 50px;

  &__title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    // padding-top: 94px;
    margin-bottom: 24px;
  }

  &__description {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    &:last-child {
      margin-bottom: 72px;
    }
  }

  // &__description:last-child {
  //   margin-bottom: 72px;
  // }

  // &__description-wrapper {
  //   margin-bottom: 72px;
  // }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
  }

  &__column {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__card {
    display: block;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;

    &_small {
      height: 473px;
    }

    &_medium {
      height: 512px;
    }

    &_big {
      height: 551px;
    }

    &-description {
      padding: 32px;
      display: flex;
      flex-direction: column;

      &_small {
        gap: 26px;
      }
    }

    &-number {
      color: #202027;
      // font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-weight: 500;
      line-height: 110%;
    }

    &-name {
      color: #202027;
      font-size: 32px;
      font-weight: 700;
    }
  }
}