* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 800px;
  background-color: #E1FF8F;
  background-image: url('./images/back/big_star.svg'), url('./images/back/stars_group_left.svg'), url('./images/back/stars_group_right.svg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: right, 63px 69px, 948px 538px;

  &__content {
    max-width: 769px;
    padding-top: 196px;
  }

  &__title {
    color: #202027;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  &__description-wrapper {
    margin-bottom: 48px;
  }

  &__description {
    color: #202027;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    &_link {
      font-weight: 600;
    }
  }

  &__button {
    display: block;
    padding: 16px 28px;
    width: 247px;
    height: 66px;
    border-radius: 60px;
    border: 1px solid #202027;
    background: #202027;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.688%;
    transition: all 0.5s linear;
  }

  &__button:hover {
    background: #fff;
    color: #202027;
    transition: all 0.2s linear;
  }

}

.animated-strip {
  width: 100%;
  height: 87px;
  overflow: hidden;
  margin-top: -87px;
  // position: relative;
  // z-index: 1;
}

.animated-strip__content {
  width: 3220px;
  // height: 87px;
  background-color: #BCEC30;
  border: 1px solid rgba(255, 255, 255, 0.20);
  // margin-top: -87px;
  color: #202027;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 51px;
  // overflow: hidden;
  // position: absolute;
  z-index: 2;

  // &__star {
  //   background-image: url('./images/star_for_animated_strip.svg');
  //   background-repeat: no-repeat;
  //   width: 36px;
  //   height: 36px;
  // }
}

.about-games {
  background-color: #202027;
  padding-top: 94px;
  padding-bottom: 50px;
  background-image: url('./images/about_games/stars_group.svg'), url('./images/about_games/star_big.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 25px 770px, right 77px;

  &__title {
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    // padding-top: 94px;
    margin-bottom: 24px;
  }

  &__description {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    &:last-child {
      margin-bottom: 72px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 32px;
  }

  &__column {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__card {
    display: block;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    transition: all 0.5s linear;

    &_small {
      height: 473px;
    }

    &_medium {
      height: 512px;
    }

    &_big {
      height: 551px;
    }

    &-picture {
      width: 100%;
    }

    &-description {
      padding: 32px 32px 36px 32px;
      display: flex;
      flex-direction: column;

      // чтобы название было в столбик
      &_4 {
        padding-right: 45px;
      }
    }

    &-number {
      color: #202027;
      // font-variant-numeric: lining-nums proportional-nums;
      font-size: 16px;
      font-weight: 500;
      line-height: 110%;
      padding: 8px 16px 10px 16px;
      margin-bottom: 16px;
    }

    &-name {
      color: #202027;
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__card:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
  }
}